fastapi
uvicorn
requests
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
groq
chromadb
sentence-transformers
geopandas
shapely
folium
pandas
numpy
pydantic
pypdf
prophet
scikit-learn
